body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
 	background: #f5ebe0;
}

.main-container {
	width: 25vw;
	height: 70vh;
	min-width: 380px;
	min-height: 400px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background: white;
	border: 3px solid black;
	border-radius: 15px;
	box-shadow: 0 0 35px black;
}

.display {
	height: 6rem;
	color: black;
	text-align: left;
}

.button-container {
	flex: 1;
	margin: 0px;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
}

.calc-button {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	border-radius: 15px;
	font-size: 30px;
	background-color: white;
}

.calc-button:hover {
	filter: brightness(80%);
	cursor: pointer;
}

.clear {
	background-color: #e71d36;
	color: white;
	font-weight: bold;
	grid-column: 1/3;
}

.operation {
	background-color: #ffb703;
}

.number {
	background-color: #48cae4;
}

.equal {
	background: #38b000;
	grid-column: 3/5;
}

@media (max-width: 1000px) {
	.main-container {
		margin: 10px;
		height: 50vh;
		width: 80vw;
		min-width: 250px;
		min-height: 350px;
    max-width: 380px;
    margin-top: 10px;
	}
}

@media (max-width: 500px) {
	body {
		height: 100vh;
	}

	.main-container {
		margin: 10px;
		height: 60vh;
		width: 80vw;
		min-width: 250px;
		min-height: 300px;
	}
}
